/*
This css file is a placeholder. Use this or roll your own, choice is yours.
*/

thead {
	text-align: left;
	background-color: #e8e8e8;
}
td {
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
col.name {
	width: 150px;
}
col.code {
	width: 60px;
}
col.flag {
	width: 100px; min-width: 40px;
}
col.reg {
	width: 100px;
}
col.subReg {
	width: 150px;
}
col.pop {
	width: 134px; 
}
col.langs {
	width: 200px;
}
td.pop {
	text-align: right;
}
tr {
	max-height: 74px;
}
.wrapper{
	display: grid;
	grid-template-rows: 150px auto;
	grid-template-columns: 350px auto;
	grid-row-gap: 20px;
	height: 100%;
	position: fixed;
}
.form{
	grid-column: 1;
	grid-row: 1;
}
.result{
	grid-column: 2;
	grid-row: 1/2;
	overflow-y: scroll;
	height: 100vh;
}
.summary{
	grid-column: 1;
	grid-row: 2;
	position: relative;
	overflow-y: scroll;
}
