/*
This css file is a placeholder. Use this or roll your own, choice is yours.
*/
.wrapper {
	display: grid;
	grid-template-rows: 150px auto;
	grid-template-columns: 350px auto;
	grid-row-gap: 20px;
	height: 100%;
	position: fixed;
}
@media (max-width: 640px){
	.wrapper{
		display: flex;
		flex-direction: column;
	}
}
.form {
	grid-column: 1;
	grid-row: 1;
}
.summary {
	grid-column: 1;
	grid-row: 2;
	position: relative;
	overflow-y: scroll;
}
.result {
	grid-column: 2;
	grid-row: 1/2;
	overflow-y: scroll;
	height: 100vh;
}
.table {
	display: table;
}
.row {
	display: table-row;
	max-height: 74px;
}
.row:nth-child(odd) {
	background-color: #f2f2f2;
}
.row.header {
	background-color: #e8e8e8;
	font-weight: 600;
}
.cell {
	display: table-cell;
	padding: 8px;
	vertical-align: middle;
}
.cell.name {
	width: 150px;
}
.cell.code {
	width: 60px;
}
.cell.flag {
	width: 100px; 
	min-width: 40px;
}
img{
	display: block; 
	width: 100%; 
	height: auto; 
	margin-left: auto; 
	margin-right: auto;
}
.cell.reg {
	width: 100px;
}
.cell.subReg {
	width: 150px;
}
.cell.pop {
	width: 134px; 
	text-align: right;
}
.cell.langs {
	width: 200px;
}
@media (max-width: 1090px){
	.wrapper{
		grid-template-columns: 1fr 1fr;
	}
	.row{
		display: block;
		padding: 8px;
		max-height: 100%;
	}
	.cell{
		display: block;
		padding: 2px;
	}
	.header{
		display: none;
	}
	.cell.flag{
		float: right;
		display: inline;
	}
	.cell.pop{
		text-align: left;
	}
}
