/*
This css file is a placeholder. Use this or roll your own, choice is yours.
*/
.wrapper {
	display: grid;
	grid-template-rows: 150px auto;
	grid-template-columns: 350px auto;
	grid-row-gap: 20px;
	height: 100%;
	position: fixed;
}
.form {
	grid-column: 1;
	grid-row: 1;
}
input[type=text] {
	width: 
}
.summary {
	grid-column: 1;
	grid-row: 2;
	position: relative;
	overflow-y: scroll;
}
.result {
	grid-column: 2;
	grid-row: 1/2;
	overflow-y: scroll;
	height: 100vh;
}
.table {
	display: flex;
	flex-flow: column nowrap;
}
.row {
	display: flex;
	flex-flow: row nowrap;
	max-height: 200px;
}
.row:nth-child(odd) {
	background-color: #e8e8e8;
}
.row.header {
	background-color: #d8d8d8;
	font-weight: 600;
}
.cell {
	padding: 8px;
}
.cell.name {
	width: 150px;
}
.cell.code {
	width: 60px;
}
.cell.flag {
	min-width: 40px;
	max-width: 100px;
	width: auto;
	background-color: #e8e8e8;
	flex-shrink: 8;
}
img {
	display: block; 
	width: 100%; 
	height: auto; 
	margin-left: auto; 
	margin-right: auto;
}
.cell.reg {
	width: 100px;
}
.cell.subreg {
	width: 150px;
}
.cell.pop {
	width: 134px; 
	text-align: right;
}
.cell.langs {
	width: 200px;
}
@media (max-width: 1000px){
	.table { 
		flex-flow: row wrap;
	}
	.header {
		display: none;
	}
	.row:not(.header) {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 8px;
		width: 44%;
		max-height: 100%;
	}
	.row:nth-child(odd) {
		background-color: initial;
	}
	.row:nth-child(4n+2),.row:nth-child(4n+1) {
		background-color: #e8e8e8;
	}
	.cell {
		display: block;
		padding: 2px;
	}
	.cell:not(.flag) {
		width: 100%;
	}
	.cell.pop {
		text-align: left;
	}
}
@media (max-width: 640px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.row:not(.header) {
		width: 100%;
		flex-wrap: nowrap;
	}
	.row:nth-child(4n+2),.row:nth-child(4n+1) {
		background-color: initial;
	}
	.row:nth-child(odd) {
		background-color: #e8e8e8;
	}
	.cell:not(.flag) {
		width: 100%;
	}
	ul ul{
		margin-left: -25px;
	}
	h1,h2,h3 { 
		font-size: 1em;
	}
}
